@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}



html,
body,
#__next,
#__next>div {
  height: 100%;
  background-color: #1D1D1F;
}

/* keyframes of animations */
@keyframes fadeEffectStartAnimation {
  from {
    background-color: #ffffff;
    color: black;
  }
  to {
    background-color: #1D1D1F;
    color: white;
  }
}
@keyframes fadeEffectStartAnimationAppName {
  from {
    color: black;
  }
  to {
    color: white;
  }
}


/* start animation */
.start_animation_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeEffectStartAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.start_animation_app_info {
  height: 25vw;
  aspect-ratio: 1;
}

.start_animation_app_logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
}

.start_animation_app_name {
  font-family: 'Dangrek', cursive;
  color: white;
  font-size: xx-large;
  animation-name: fadeEffectStartAnimationAppName;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}