  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none;
  }



  html,
  body,
  #__next,
  #__next>div {
    height: 100%;
  }


  /* keyframes of animations */
  @keyframes fadeEffectStartAnimation {
    from {
      background-color: black;
      color: white;
    }

    to {
      background-color: #f0f0f0;
      color: black;
    }
  }

  @keyframes fadeEffectStartAnimationAppName {
    from {
      color: #dbdbdb;
    }

    to {
      color: #5281ce;
    }
  }

  /* end */

  .start_animation_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: fadeEffectStartAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .start_animation_app_info {
    height: 25vw;
    aspect-ratio: 1;
  }

  .start_animation_app_logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 20px;
    border-radius: 50%;
    box-shadow:
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
  }

  .start_animation_app_name {
    font-family: 'Inter', sans-serif;
    color: #5281ce;
    font-weight: bolder;
    font-size: xx-large;
    animation-name: fadeEffectStartAnimationAppName;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }


  .profile_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    height: max-content;
    max-width: 90%;
    min-width: 50%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
    height: 40%;
    flex-direction: column;
    color: whitesmoke;
  }

  .profile_image {
    height: 50%;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 50%;
  }

  .profile_name {
    font-family: 'Inter', sans-serif;
    font-size: larger;
    color: #dbdbdb;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .main {

    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
  }

  .search_logo {
    position: fixed;
    justify-content: center;
    height: 50px;
    aspect-ratio: 1;
    padding: 5px;
    cursor: pointer;
    left: calc(77.5%);

  }

  .input {

    margin: auto;
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    /* font-family: 'Inter', sans-serif; */
    font-size: large;
    /* border: 2px solid black; */

    box-shadow:
      2px 2px 4px 0 #4f4e4e,
      -2px -2px 4px 0 #4f4e4e;
  }


  .button {
    all: unset;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background-color: #699cfc;
    padding: 20px;
    margin-top: 40px;
    color: white;
    border-radius: 20px;
    font-size: larger;
  }

  .app_info {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .prompt {
    color: #8a90a6;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .app_logo {
    margin: 10px;
    height: 55px;
    aspect-ratio: 1;
    padding: 5px;
    border-radius: 50%;
    box-shadow:
      6px 6px 6px 0 rgba(0, 0, 0, 0.25),
      -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

  .app_name {
    font-family: 'Inter', sans-serif;
    color: #5281ce;
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    width: 100%;
    padding-left: 5px;
  }

  .tweet_link_error {
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
    color: #a04246;
    font-size: large;
  }

  .query_unsuccessful {
    margin: auto;
    width: 90%;
    max-width: 90%;
    font-family: 'Inter', sans-serif;
    color: #a04246;
    text-align: center;
    font-size: large;
    transform: translateY(-10vh);
  }

  .winner-title {
    margin-top: 20vh;
    color: #3d6581;

  }
  .giveaway-tweet {
    color: #3d6581;
  }

  .winner {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 90%;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    color: #3d6581;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .winner a {
    color: #a04246;
  }

  /* on larger screens */

  @media screen and (min-width: 768px) {
    /* .button {} */

    .prompt {
      margin: unset;
      margin-top: 20vh;
      margin-bottom: 5vh;
    }
    .app_name {
      margin: unset;
    }


    .input {
      width: 45vw;
    }

    .search_logo {
      left: calc(72.5% - 70px);
    }
    .winner {
      width: max-content;
      padding: 30px;
    }
  }